name: changelog
on:
  workflow_dispatch:
  pull_request:
  push:
    branches:
      - main

jobs:
  changelog:
    name: Generate changelog
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

#      - name: Set up proxy
#        run: |
#          echo "http_proxy=http://172.16.76.135:10808" >> $GITHUB_ENV
#          echo "https_proxy=http://172.16.76.135:10808" >> $GITHUB_ENV

      - name: Generate changelog
        uses: CoCoTeaNet/git-cliff-action@main
        with:
          config: cliff.toml
          args: --verbose
        env:
          OUTPUT: CHANGELOG.md
          GITHUB_REPO: ${{ github.repository }}

      - name: Commit
        run: |
          git checkout main
          git config user.name 'github-actions[bot]'
          git config user.email 'github-actions[bot]@users.noreply.github.com'
          set +e
          git add CHANGELOG.md
          git commit -m "Update changelog"
          git push https://${{ secrets.GITHUB_TOKEN }}@github.com/${GITHUB_REPOSITORY}.git main